.App {
  text-align: center;
  background-color: #00b4d8;
  height: 100vh;
}

h1{ margin-top: 0; padding-top: 2em; }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.radio-box {
  color: #03045e; 
  max-width: 8em;
  margin: 0 auto;
  border: 1px solid #03045e;
  border-radius: 10px;
  padding: 1em; 
  transition: all .5s ease;  
}

.checked.radio-box { padding: 1.5em; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
